{% extends 'base.html' %}

{% block title %}
    @{{ user.username }}
{% endblock title %}

{% block content %}
<div class="row profile-row">
    <div class="col-md-3 profile-card-wrapper">
        <img class='profile-image'src="{{ user.gravatar }}" />

        <h1>{{ user.username }}</h1>
        <p class='profile-user-name'>{{ user.first_name }} {{ user.last_name }}</p>

        {% if is_viewing_self %}
        <form action="{% url 'edit_profile' %}">
            <button class='notes-button'> Edit </button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

