{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
            SASQ-WATCH
        {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/signinform.css' %}" rel="stylesheet">

    <!-- Add your custom CSS to this file -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <link href="{% static 'css/home.css' %}" rel="stylesheet">

  </head>

<body>
<nav class="navbar navbar-expand-xl">
    <div class="container nav-content-container">
        
        <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon">
                ☰
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- this is a place holder until, user profile img
            and name can bee displayed. -->
            <ul class='navbar-nav'>
                <li class="nav-item logged-in-as">
                    <a class="nav-link username" href="{% url 'view_profile' request.user %}" >
                        <img src="/static/images/userimg.png" class="navbar-avatar" />
                        {{ request.user }}
                    </a>
                </li>
            </ul>

            
            <ul class="navbar-nav me-auto nav-main-links-wrapper">
                {% with request.resolver_match.url_name as url_name %}
                <li class="nav-item">
                    <a href="{%url 'home'%}" class="nav-link main-nav-links{%if url_name == 'home'%} active {%endif%}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav-links {%if url_name == 'about'%} active {%endif%}" href="{% url 'about' %}">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav-links {%if url_name == 'sightings'%} active {%endif%}" href="{% url 'sightings' %}">SIGHTINGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav-links {%if url_name == 'years'%} active {%endif%}" href="{% url 'years' %}">YEARS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav-links {%if url_name == 'states'%} active {%endif%}" href="{% url 'states' %}">STATES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav-links {%if url_name == 'seasons'%} active {%endif%}" href="{% url 'seasons' %}">SEASONS</a>
                </li>
                {% endwith %}
            </ul>
            <ul class="navbar-nav login-logout-btns">
                {% if request.user.is_authenticated %}
                <li class='nav-item'>
                    <form class='nav-link' style="display: inline" action="{% url 'logout' %}" method="get">
                        <button class='nav-btn'> Log Out</button>
                      </form>
                </li>
                {% else %}
                    <li class='nav-item'>
                        <form class='nav-link' style="display: inline" action="{% url 'login' %}" method="get">
                            <button class='nav-btn'> Log In</button>
                          </form>
                    </li>
                    <li class='nav-item'>
                        <form class='nav-link' style="display: inline" action="{% url 'signup' %}" method="get">
                            <button class='nav-btn'> Sign Up</button>
                          </form>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>



{% block main %}
    <div class="container pt-2">

      {# Enable Django's "messages" system #}
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this as a way to quick start any new project.</p>
      {% endblock content %}

    </div>
{% endblock main %}


      <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
  </body>
</html>

