{% extends "base.html" %}

{% block title %}
    SASQ-WATCH - ABOUT
{% endblock title %}


{% block content %}
<div class='container contents-container'>
    <div class='row contents-row'>
        <h1 class='about-header'>Welcome to Sasq-Watch!</h1>
        <div class='col contents-col about-col'>
           <p class='about-text-body'>This website is dedicated to the investigation of Bigfoot.
            All of Sasq-Watch's 5000 data points are sampled from 
            the <a target="_blank" href='https://www.bfro.net/'>BFRO</a> (Bigfoot Field Research Organization). 
            The BFRO is widely respected as the most credible investigative 
            network involved in the scientific study of Bigfoot.
            Please enjoy the sample data here on Sasq-Watch.
            Happy tracking!
           </p>
        </div>

    </div>

</div>
{% endblock content %}


