{% extends "base.html" %}

{% block title %}
    SASQ-WATCH - Home
{% endblock title %}


{% block content %}
<div class='container home-container'>
    <h1 class='home-header'> SASQ-WATCH</h1>

    <div class='home-subhead-wrapper'>
        <p class='home-subtext subhead-wrapper-item'> explore the data</p>
        <img class='foot-icon subhead-wrapper-item'src='../static/images/foot-icon.png' alt='foot icon'/>
        <p class='home-subtext subhead-wrapper-item'> find the Bigfoot</p>
    </div>

    <div class='home-content-wrapper'>
        <div class='home-row-container'>
            <div class='dash-wrapper'>
                <div class='dash-cards'>
                
                </div>
                <p>SIGHTINGS</p>
            </div>
            <div class='dash-wrapper'>
                <div class='dash-cards'>
                
                </div>
                <p>STATES</p>
            </div>

        </div>
        <div class='home-row-container'>
            <div class='dash-wrapper'>
                <div class='dash-cards'>
                
                </div>
                <p>YEARS</p>
            </div>
            <div class='dash-wrapper'>
                <div class='dash-cards'>
                
                </div>
                <p>SEASONS</p>
            </div>
        </div>
    </div>
  
</div>

{% endblock content %}


