{% extends "base.html" %}

{% block title %}
    SASQ-WATCH - JOURNAL
{% endblock title %}

{% block content %}
<div class='container contents-container'>
    <div class='row contents-row'>
        {% if bookmarked_count > 1 %}
        <h2 class='result-count'> {{bookmarked_count}} Sightings Bookmarked </h2>
        {% else %}
        <h2 class='result-count'> {{bookmarked_count}} Sighting Bookmarked </h2>
        {% endif %}

        
        <div class='col journal-contents-col'>
                    {%for sighting in bookmarked_sightings%}
                    <ul class='sightings-list'>
                
                        <form method='post' action="/delete-bookmark/{{ sighting.id }}/">
                            {%csrf_token%}
                            <!-- <input type='hidden' name='special_number' value='{{item.special_number}}'/> -->
                            <button class='trashcan' type="submit"></button>
                        </form>

                        <li>YEAR: <p>{{sighting.year}}</p> <span></span></li>
                        <li>SEASON: <p>{{sighting.season}}</p> </li>
                        <li>MONTH: <p>{{sighting.month}}</p> </li>
                        <li>STATE: <p>{{sighting.state}}</p> </li>
                        <li>COUNTY: <p>{{sighting.county}}</p> </li>
                        <li>LOCATION: <p>{{sighting.location}}</p> </li>
                        <li>OBSERVED: <p>{{sighting.observed}}</p> </li>  
                    </ul>
                    <div class='underline'></div>
                    {%endfor%}
        </div>
    </div>
</div>
        
{% endblock content %}