{% extends "base.html" %}

{% block title %}
    SASQ-WATCH - SIGHTINGS
{% endblock title %}

{% block content %}
<div class='container contents-container'>
    <div class='row contents-row'>
        <h2 class='result-count'> {{result_count}} Search Results</h2>
        <div class='sightings-form-wrapper'>
            <div class='test'>
                <label for="year">Choose a Year:</label>
                    <select name="year" onchange='location = this.value;'>
                        <option> Choose a Year</option>
                        {%for item in all_years%}
                        <option value='?y={{item}}'> {{item}} </option>
                        {%endfor%}
                    </select>
            </div>
                <p>or</p>
            <div class='test'>
                <label for="year">Choose a State:</label>
                    <select name="year" onchange='location = this.value;'>
                        <option> Choose a State</option>
                        {%for item in all_states%}
                        <option value='?s={{item}}'> {{item}} </option>
                        {%endfor%}
                    </select>
            </div>
        </div>
        <div class='col sightings-contents-col'>
                    {%for item in sightings%}
                        <ul class='sightings-list'>
                        {% if request.user.is_authenticated %}
                            {% if item.special_number in bookmarked_special_number_list %}
                                <div class='checkmark'></div>
                            {% else %}
                                <form method='post' action="{% url 'create_bookmark' %}">
                                    {%csrf_token%}
                                    <input type='hidden' name='special_number' value='{{item.special_number}}'/>
                                    <button class='bookmark' type="submit"></button>
                                </form>
                            {% endif %}
                        {%endif%}

                            <li>YEAR: <p>{{item.YEAR}}</p> <span></span></li>
                            <li>SEASON: <p>{{item.SEASON}}</p> </li>
                            <li>MONTH: <p>{{item.MONTH}}</p> </li>
                            <li>STATE: <p>{{item.STATE}}</p> </li>
                            <li>COUNTY: <p>{{item.COUNTY}}</p> </li>
                            <li>LOCATION: <p>{{item.LOCATION_DETAILS}}</p> </li>
                            <li>OBSERVED: <p>{{item.OBSERVED}}</p> </li>  
                        </ul>
                        <div class='underline'></div>
                    {%endfor%}
        </div>
    </div>
</div>
        
{% endblock content %}