.profile-image{
    border-radius: 100%;
    width: 9.375rem;
}.profile-row{
    color: #fff;
}
.profile-row h1 {
    font-family: var(--header-font);
    font-size: 3.125em;
}
.profile-row p{
    font-size: .75em;
    font-style: italic;
    margin-bottom: 3rem;
}
.profile-row a{
    color: var(--salmon)
}
.profile-card-wrapper{
    margin: auto;
}
.profile-user-name{
font-size: 1.5em;
font-weight: lighter;
}