.journal-contents-col{
    margin: auto;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    overflow: auto;
    max-height: 29.375rem;
    padding:1.25rem;
}
.trashcan{
    width: 30px;
    height: 50px;
    position: absolute;
    right: 3rem;
    top: 2rem;
    background: center/cover url('../images/trash.png') no-repeat;
    border: none;
}
.trashcan:hover{
    transform: scale(1.2);
    background: center/cover url('../images/hilighttrash.png') no-repeat;
}

.notes-form{
    display: flex;
    flex-direction: column;
}
.textarea-notes{
    width: 80%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
}
.notes-button{
    width: 8rem;
    height:35px;
    margin: auto;
    margin-top: .8rem;
    border-radius: 50px;
    border: 2px solid var(--salmon);
    background: var(--salmon);
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: none;
    line-height: 22px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.notes-button:hover{
    transform: scale(1.08);
    
}